.projects {
    
    text-align: center;
    padding: 25rem;
   margin-top: -280px;
    background-color: #13131F;
}

.projects h1 {
    color: #0ba1fd;
    font-size: 40px;
    margin-bottom: 70px;
}

/* Media Queries */

@media(max-width: 1200px) {
    .projects {
        padding: 10rem;
    }
}


@media(max-width: 900px) {
    .projects {
        padding: 5rem;
    }
}
@media(max-width: 700px) {
    .projects {
        padding: 2rem;
    }
}