.skills {
    position: relative;
 
    
  
}
.skills h1 {
 
    margin-bottom: 50px;
    color:#fff;
    font-size: 40px;
}
.skills .box-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 120px;
    
}

.skills .language {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills .language a svg {
    width: 120px;
    height: 120px;
    color: #ffffff;
    border-radius: 4px;
   display: block;
   
}
.skills .box-grid-3 {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3)}
.skills .box-grid-3 span {
    color: #fff;
    font-size: 20px;
    font-weight:500;
}
.skills .box-grid-3 #text-blue {
    color: rgb(61, 106, 255);
    font-weight:400;
    font-size: 16px;
    
}

/* PARALLAX */
#moonSkills {
    width: 150px;
    position: absolute;
   
    width: 150px;
   
   
    top: 30px;
    right: 340px;
    z-index: -2;
    transition: all ease-out 0.3s;
    animation: rotate 5s ease-in-out infinite

}
#bgSkills {
    position: absolute;
    
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: -1;
}



@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);

    }
    100%{
        transform: rotate(0deg);
    }
}

/* Media Queries */
@media(max-width: 1000px) {
    #moonSkills {
        right: 90px;
    }
}
@media (max-width: 720px) {
    .skills .box-grid-3 {
        grid-template-columns: 1fr 1fr;
    }
    #moonSkills {
        right: 30px;
    }
    .skills .language a svg {
        width: 70px;
        height: 70px;
       
       
    }
}