.about {
    margin-top: 10rem;
    position: relative;
   
    display: flex;
    
}




.about h1 {
    
    position: absolute;
    z-index: 0;
    top: 30px;
    font-size: 48px;
    color: #fff;
}


.about .box p {
      width: 50%;
    color: #Fff;
}

/* Media Queries */

@media (max-width: 1100px) {
    .box {
        flex-direction: column;
    }
    #astronaut {
        position: absolute;
        width: 300px;
        height: 500px;
        top: -50px;
        right: -40px;
        display: block;
        
    }
    #moonAbout {
        right: 0;
    }
    
    .box p {
        
        margin-top: 170px;
    }
}