.home {
    background-color:#13131F;
    position: relative;
    
    
}

.profile h1 {
    color: white;
    font-size: 4rem;
    line-height: 4.3rem;
    font-weight: 600;
}
.profile span {
    color:#0ba1fd
}

.links {
    margin-top: 10px;
    display: flex;
    
    gap: 8px;
   
}



.links a {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .links a:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .links a:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }



/* Media Queries */


@media (max-width: 1000px) {
    .profile h1 {
        font-size: 3rem;
        line-height: 43px;
    }
    
}
