.contacts {
    margin-top: 10rem;
    height: 100vh;
}
.contacts h1 {
    margin-bottom: 80px;
    font-size: 40px;
    color:#Fff;
    border-bottom: 2px solid rgb(61, 106, 255);
}

.box-links {
    
    gap: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.lnk {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.lnk svg {
    border: 1px solid rgb(61, 106, 255);
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.lnk a {
    color: white;
}


/* Media Queries */

@media(max-width: 1200px) {
    .box-links {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}
@media(max-width: 800px) {
    .contacts {
        margin-top: 55rem;
    }
}